<!DOCTYPE html>
<html>
  <head>
    <title>Searchy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="well">
      <div class="container">
        Searching exactly <%= pluralize Page.count, 'page' %>

        <%= link_to 'New Endpoint', new_endpoint_path %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
